/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 200px;
}

.nav-items {
    padding: 0px 20px;
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

/* Search Bar */
.search {
    padding: 10px;
}

/* Restaurant Cards Container */
.res-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Restaurant Card Styles */
.restaurant-card {
    width: 100%; /* Full width of the grid cell */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.restaurant-card h2 {
    margin: 12px 0;
    font-size: 1.25rem;
    color: #333;
}

.restaurant-card p {
    margin: 4px 0;
    font-size: 1rem;
    color: #666;
}

.shimmer-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.shimmer-card {
    width: 100%; 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.shimmer-image {
    width: 100%;
    height: 200px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 8px;
}

.shimmer-title {
    width: 60%;
    height: 20px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 8px;
}

.shimmer-text {
    width: 80%;
    height: 16px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 8px;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.login {
    padding: 0 20px;
    cursor: pointer;
}

.search-box {
    margin: 10px;
}

.filter {
    display: flex;
}
